*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
} 
body{
    background-color:rgb(182, 0, 5);
}

h1{
    text-align: center;
    font-size: 70px;
    font-family: 'PT-Serif', bold;
    color:rgb(24, 0, 0);
}

.navbarNav{
    background-color: rgb(24, 0, 0);
}

.w-100{
    background-color: rgb(24, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.nav-link{
    color: bisque;

}

.louisArg{
    background-color: rgb(24, 0, 0);
    align-content: center;
}

.textoArriba{
    color:bisque;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    position:absolute;
    top: 20%;
    padding-left: 2%;
}

.apellido{
    color:bisque;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    position:absolute;
    top:36%;
    padding-left: 2%;
}
.carrera{
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    color: rgb(24, 0, 0);

}
.career{
    position: relative;
    display: inline-block;
    text-align: center;
}

.louisolo{
    background-color: rgb(182, 0, 5);
    width: 500px;
    position: relative;
}

.texto-encima{
    font-family: monospace;
    font-size: 25px;
    color: bisque;
}


.musica{
    background-color: rgb(182, 0, 5);
    color:bisque;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    text-align: center;
    
}
.slide{
    width: 300px;
    margin-left: 35%;
}
.carousel-item{
    width: 300px;
}

.worldT{
    background-color: rgb(182, 0, 5);
    color:rgb(24, 0, 0);
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 100px;
    margin-top: 5%;
}

.mundo{
    height: 500px;
    }

.form{
    background-color: rgb(182, 0, 5);
    color:rgb(24, 0, 0);
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 80px;
}
.formYinput{
    text-align: center;

}
.formulario label{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.formulario input{
    width: 20%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
    text-align: center;
    background-color: rgb(24, 0, 0);
    align-items: center;
}

.pais{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
    background-color: rgb(24, 0, 0);
    width: 20%;
    height: 30px;
}

footer{
    background-color: rgb(24, 0, 0);
    color: bisque;
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    margin-top: 10%;
}