.slide{
    border-radius: 8px;
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 30px;
}

.containerDos{
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
    gap: 30px;

    .mundo{
        background-color:$fondo
        border-radius 8px;
        width: 50%;
        height: auto;
        box-shadow: 0px 0px 30px;
        margin-left: 10%;
    }
}
.pie{
    font-family: $mainTypo;
    text-align: center;
    background-color: $colorLetra;
    color: bisque;
    width: 100%;
    height: auto;
   
}