*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
} 

body{
    background-color: aqua;

}

@import 'header' ;
@import 'carrera';
@import 'form';
@import 'pages';
@import 'vars';

.imgOne{
    box-shadow: 0px 0px 30px;
}
