$mainTipo: 'DM Serif Display', serif;
$secondTypo: 'Courier New', Courier, monospace;
$fondo:rgb(182, 0, 5);
$colorLetra:rgb(24, 0, 0);
$colorTextos: bisque;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
} 

header{
    h1{
        text-align: center;
        width: 100%;
        height: auto;
        font-family: $mainTipo;
        color: $colorLetra;
    }
} 

.navbarNav{
    background-color: $colorLetra;
}

.w-100{
    background-color: $colorLetra;
    font-family: $secondTypo;
    text-align: center;
    color: $colorTextos;
}

.nav-link{
    color:$colorTextos;
}

body{
    background-color: $fondo;
}

.imgOne{
    box-shadow: 0px 0px 30px;
}

.louisCarre{
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
    gap: 30px;
}
.louisolo{
    background-color: $fondo
    border-radius 8px;
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 30px;
    margin-left: 5%;
}
.texto-encima{
    width: 100%;
    height: auto;
    font-family:$secondTypo;
    text-align: center;
    color:$colorTextos;
}
.display-3{
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'DM Serif Display', serif;
    color:rgb(24, 0, 0);
    margin-top: 3%;
}

.slide{
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px;
}

.containerDos{
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
    gap: 30px;
}
.mundo{
    background-color: $fondo
    border-radius 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px;
    margin-left: 1%;
    margin-right: 1%;
}
.formYinput{
    text-align: center;
}
.formulario label{
    text-align: center;
    font-family:$secondTypo;
    font-size: 16px;
}
.formulario input{
    width: 50%;
    height: auto;
    font-family:$secondTypo;
    background-color: $colorLetra;
    text-align: center;
    color: $colorTextos;
}

.pais{
    width: 50%;
    height: auto;
    text-align: center;
    font-family:$secondTypo;
    background-color: $colorLetra;
    color:$colorTextos;
}
.footer{
    background-color: $colorLetra;
    padding: 80px 0;
    margin-top: 10%;

}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links h2{
    font-size: 50px;
    color:$colorTextos;
    font-family: $mainTipo;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid $colorTextos;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.footer-links h4{
    font-family: $secondTypo;
    color: $colorTextos;
    text-align: center;
    font-size: 30px;
}
.social-link{
    margin-left: 43%;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: $colorTextos;
    text-align: center;
    line-height:  40px;
    border-radius: 50%;
    color: $colorLetra;
    margin: 0 10px 10px 0;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: $fondo;
}

@media(max-widht:991px) {
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}